/* Menu */
.bg-dark {
    background-color: rgb(48, 65, 99) !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(167, 186, 224);
}
  
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.logo {
    height: 5%;
}


  /*carousel*/

 .carousel-inner {
    height: 840px;
 }

 /*main*/

 h1 {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20pt;
    margin-top: 20pt;
    color: rgb(22, 35, 63);
    font-weight: lighter;
 }

 p {
     font-size: 14pt;
     margin: 10pt;
     padding: 5pt;
 }


 body {
     background-color: #fafafa;
     font-size: 12pt;
 }

 li {
     font-size: 14pt;
 }

 .homeimage {
    display: inline-flex;
   
    width: 40%;
    padding: 10pt;
    margin-bottom: 5%;
}

.intro {
    margin: 12pt;
    font-size: 20pt;
    text-align: left;
    display: inline-flex;
    width: 40%;
    padding: 10pt;

}



 .bluebox {
     background-color: rgb(193, 203, 224);
     padding: 10pt;
 }

 .aboutme {
     display: inline-flex;
     margin-left: auto;
     margin-right: auto;
     width: 33%;
     padding: 20pt;
     
 }

 .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 .navbar-brand img {
    width: 150px;
 }

 footer {
     background-color: rgb(48, 65, 99);
     color: white;
     padding: 10pt;
     display: block;
 }

 footer p {
     display: inline-block;
     margin-right: 10%;
     margin-left: auto;
 }

 .button {
     color: white !important;
 }

 .portfolio {
     display: flex;
     object-fit: cover;
     width: 100%;
     margin-bottom: 20pt;
     border-radius: 10pt;
     text-align: center;
 }

 @media only screen and (max-width: 700px) {
    .intro {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .homeimage {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .aboutme {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}
